.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: auto;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header-logo-img {
    max-width: 70px;
    max-height: 70px;
    margin-right: 20px;
}

.header-logo-bcraft {
 color: #5273FF;
}

.header-logo-studio {
    color: #FF6F61;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 25px;
}

.header-nav-link {
    color: #384252;
    font-weight: 600;
}

.header-nav-link:hover {
    color: #5273FF;
    cursor: pointer;
}

.header-nav-button {
    color: #FFFFFF;
    padding: 10px 20px;
    background-color: #FF6F61;
    border: none;
    border-radius: 60px;
    font-weight: 600;
}

.header-nav-button:hover {
    cursor: pointer;
    background-color: #f9877d;    
}