.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101827;
    color: #FFFFFF;
}

.footer-text {
    margin: 30px 5px;
}

.footer-link {
    text-decoration: underline;
    color: #FFFFFF;
}